In [1]:
import numpy as np
import pandas as pd

In [2]:
sample_submit = pd.read_csv('../data/sample_submission.csv')

In [3]:
blends = [
    '925_stacking_more_0918_5_fold_0804195132.csv',
    '962_blending_dima_0804.csv',
    'best_blend_13.csv',
    'best_blend_19.csv',
    'best_blend_25.csv',
    'best_blend_33.csv',
    'best_blend_47.csv',
    'best_blend_.csv'
]

blends = [f'../blending/{x}' for x in blends]

In [4]:
blends

['../blending/925_stacking_more_0918_5_fold_0804195132.csv',
 '../blending/962_blending_dima_0804.csv',
 '../blending/best_blend_13.csv',
 '../blending/best_blend_19.csv',
 '../blending/best_blend_25.csv',
 '../blending/best_blend_33.csv',
 '../blending/best_blend_47.csv',
 '../blending/best_blend_.csv']

In [5]:
blends = [pd.read_csv(x).target.values.reshape((-1, 1)) for x in blends]

In [6]:
blends = pd.DataFrame(np.hstack(blends))

In [7]:
blends.head()

,0,1,2,3,4,5,6,7
0,0.082098,151264.533145,0.144036,0.131704,0.125680,0.126515,0.118791,0.117465
1,0.214357,176002.303734,0.360064,0.370713,0.373320,0.377153,0.372280,0.369864
2,0.181738,172933.648467,0.315207,0.326907,0.336139,0.334164,0.352275,0.346955
3,0.082966,150271.299970,0.138877,0.128887,0.150862,0.149924,0.161517,0.176855
4,0.051106,136475.764399,0.050362,0.053033,0.053514,0.053057,0.052639,0.051232

In [8]:
blends.rank().head()

,0,1,2,3,4,5,6,7
0,152153.0,152271.0,155184.0,153255.0,152235.0,152296.0,151019.0,150862.0
1,176431.0,176898.0,176637.0,177363.0,177418.0,177682.0,177247.0,177142.0
2,173014.0,173849.0,173088.0,173955.0,174565.0,174380.0,175763.0,175428.0
3,152513.0,151260.0,154444.0,152834.0,155955.0,155808.0,157369.0,159365.0
4,136562.0,137320.0,134351.0,135150.0,135345.0,135084.0,134858.0,134432.0

In [9]:
result = blends.rank().mean(axis=1)

In [10]:
sample_submit.target = result

In [11]:
sample_submit.head()

  ID_code      target
0  test_0  152409.375
1  test_1  177102.250
2  test_2  174255.250
3  test_3  154943.500
4  test_4  135387.750

In [ ]:
sample_submit.to_csv('../submits/final.csv', index=False)